<% if !flash[:notice].blank? %>
<div class="alert alert-success">
    <%= flash[:notice] %>
</div>
<% end %>

<table class="table">
    <tr>
        <th>Firstname</th>
        <th>Lasname</th>
        <th>Email</th>
        <th>Last Updated</th>
        <th>Action</th>
    </tr>

    <tr>
        <td><%= @user.fname %></td>
        <td><%= @user.lname %></td>
        <td><%= @user.email %></td>
        <td><%= @user.updated_at.strftime("%F") %></td>
        <td>
            <%= link_to "Edit", edit_user_path %>
        </td>
    </tr>
</table>