
<%= form_for(@book) do |f| %>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Condition</th>
            <th>Category</th>
        </tr>
        <tr>
            <td> <%= f.text_field(:title) %> </td>
            <td> <%= f.text_field(:author) %> </td>
            <td> <%= f.text_field(:isbn) %> </td>
            <td> <%= f.text_field(:price) %> </td>
            <td> <%= f.text_field(:condition) %> </td>
            <td> <%= f.text_field(:category) %> </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>Description</th>
            <th>Cover</th>
        </tr>
        <tr>
            <td><%= f.text_area(:description, cols: 50, rows: 5) %></td>
            <td>
                <% if @book.image.attached? %>
                    <%= image_tag @book.image.variant(resize: "500x500") %>
                <% end %>
                <%= f.file_field(:image) %>
            </td>
        </tr>
    </table>
    <div class="col-xs-12">
        <%= f.submit "Update Book", class:"btn btn-primary" %>
    </div>

<% end %>