
<%= form_for(@book) do |f| %>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Cover</th>
            <th>Action</th>
        </tr>
        <tr>
            <td> <%= f.text_field(:title) %> </td>
            <td> <%= f.text_field(:author) %> </td>
            <td> <%= f.text_field(:isbn) %> </td>
            <td> <%= f.text_field(:price) %> </td>
            <td> <%= f.file_field(:thumbnail) %> </td>
            <td> <%= f.submit("Update") %> </td>
        </tr>
    </table>
<% end %>