<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Price</th>
        <th>Created Date</th>
        <th>Action</th>
    </tr>

    <tr>
        <td><%= @book.id %></td>
        <td><%= @book.title %></td>
        <td><%= @book.author %></td>
        <td><%= @book.isbn %></td>
        <td><%= @book.price %></td>
        <td><%= @book.created_at.strftime("%m/%d/%y") %></td>
        <td>
            <%= link_to "Edit", edit_book_path(@book) %>
        </td>
    </tr>

</table>

<div>
    <p> <%= @book.description %> </p>
</div>

<div>
    <%= image_tag url_for(@book.image.variant(resize: "100x100")) %>
</div>
